.accordion-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.accordion-item {
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease;
}

.accordion-item:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.accordion-header {
    width: 100%;
    background: #eaeaea;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon {
    border-radius: 0.3rem;
    width: 24px;
    height: 24px;
}

.accordion-symbol {
    font-size: 1.25rem;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 1rem;
    transition: all 0.3s ease;
    background: #fff;
}

.accordion-content.open {
    padding: 1rem;
    max-height: 500px;
}

.accordion-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}
