.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    color: #333;
}

.footer-left p {
    margin: 0.2rem 0;
}

.footer-right a {
    margin-left: 1rem;
    display: inline-block;
}

.footer-right img {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease;
}

.social-list {
    display: flex;
    gap: 1rem;
    padding: 0;
    list-style: none;
}

.social-list a {
    font-size: 24px;
    color: #000;
    transition: color 0.3s ease;
}

.social-list a:hover {
    color: #ff5c5c; /* или брендированный цвет */
}


.footer-right img:hover {
    transform: scale(1.2);
}